<a href="https://colab.research.google.com/github/qhruddl51/Computer_Vision/blob/main/Tutorial01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

연결 : 서버를 통해서 파이썬 3에 구글 컴퓨터 엔진으로 연결이 되서 실행을 시키고 그 결과가 여기에 나오는 것이다.
따라서 코랩은 브라우저가 실행되는 모든 컴퓨터에서 가능하다.

In [4]:
import sys

print(sys.version)

3.6.9 (default, Oct  8 2020, 12:12:24)
[GCC 8.4.0]

# [컴퓨터비전 특강]을 위한 Colab, python 튜토리얼

**김보경**입니다. 

본 자료는 2020년 1학기 대학원 정보과학과 컴퓨터비전특강의 실습을 위해 Colab과 Python의 최소한의 기초 내용을 학습하기 위한 튜토리얼 자료이다.

# 0. Colaboratory에 오신 것을 환영합니다. 

* 시작홈페이지를 확인하기 https://colab.research.google.com/notebooks/intro.ipynb

* 구글 드라이브에서 Colab 문서를 새로 만들기

* 구글 드라이브에서 기본 앱 연결하기
* 런타임 유형 변경 (런타임 -> 런타임유형변경)

# 1. Python 기초

## 1.1 Python의 기본 문법

### 1) 들여쓰기(indentation)

* 일반적으로 **들여쓰기**는 소스코드의 가독성을 위해 사용한다. 
```
// c programming 
int main(void) {int a = 0; print("hello world\n");}
```
```
// c programming 
int main(void) 
{
  int a = 0;

  print("hello world\n");
}
```

-> c에서는 indentation을 안하더라도 컴파일하는 데는 문제가 없다.

* 하지만 Python에서는 **들여쓰기**를 문법적으로 *반드시*  지켜야 한다.

* 코드 블럭을 구성하기 위해 `if`, `for`, `class`, `def` 등을 사용할 때 `;` 다음 줄에는 반드시 **들여쓰기**를 반드시 해야 한다.

In [8]:
sum = 0 
for i in range(1,11) :
    sum = sum + i
    print(i)

print(f'sum from 1 to 10 is {sum}')

1
2
3
4
5
6
7
8
9
10
sum from 1 to 10 is 55

* 들여쓰기는 몇 칸하든 상관없지만, 다만 같은 블록내에서는 같은 양의 들여쓰기를 해야 하며, 공백과 탭을 혼용하면 안된다.

In [9]:
sum = 0 
for i in range(1,11) :
    sum = sum + i
       print(i)

print(f'sum from 1 to 10 is {sum}')

IndentationError: ignored

In [11]:
for i in range(1,6) :
      print(i)

for i in range(0,5) :
    print(i+1)

1
2
3
4
5
1
2
3
4
5

## 2) 주석 (Comments)
* 코드 상의 어디에서든 #을 사용하면 그 이후부터는 주석이 된다.

In [12]:
# svap함수의 정의 
def svap(a,b) :
    a, b = b, a # 값을 서로 바꾼다.
    return a, b

In [14]:
a, b = 1, 2
a, b = svap(a, b)
print(a, b)

2 1

In [15]:
a = [1,2,3]
a.append? # document를 보여준다. (Docstring)

In [16]:
# svap함수의 정의 
def svap(a,b) :
    """
    a와 b의 값을 서로 바꾼다.
    사용 예) a, b = svap(a, b)
    """

    a, b = b, a # 값을 서로 바꾼다.
    return a, b

In [17]:
svap?

### 3) 세미콜론

* 다른 많은 프로그래밍 언어에서는 문장이 끝날 때 ;을 사용한다.
* 하지만 Python에서는 세미콜론(`;`)이 필요없다.  
* 세미콜론을 붙여도 오류가 나지는 않으며, 여러 문장을 한줄로 이어서 작성할 때는 세미콜론을 사용한다.

In [20]:
print('Hello'); print('World'); print('k : ', k)

Hello
World

NameError: ignored

* Colab에서는 셀이 독립적이지만, 런타임 환경은 공유한다. 변수, ...

### 4) `if` 조건문

In [23]:
color = 'purple' 

if color == 'red' :
    print('붉은색입니다.')
 
 
if color == 'green' :
    print('초록색입니다.')
elif colof == "blue" :
    print('파란색입니다.')
else : 
    print("모르는 색입니다.") # if~elif~else까지 하나의 실행흐름이다.

모르는 색입니다.

In [29]:
if a == True : 
    print('1')

if a == False : 
    print('0')

### 5) `while` 문

In [32]:
i = 0
while i<10 :
    if i > 5 :
        break
    print(i) 
    i = i+1

0
1
2
3
4
5

In [36]:
a = [6,7,8,9,10]

while a : # a is not empty
    print(a.pop()) # 마지막 원소를 제거하고 return한다.

10
9
8
7
6

In [34]:
a.pop?

In [37]:
a = [1,2,3,4,5,6]

while True : 
    x =  a.pop()
    if x == 3  :
        break
    print(x)

6
5
4

### 6) `for` 문

In [41]:
alphabets = {'a', 'a', 'a', 'c', 'b', 'd'}

In [40]:
for alpha in alphabets : 
    print(alpha)

b
c
d
a

### 7) `range`

In [43]:
range(5) # 0-4

range(0, 5)

In [44]:
list(range(5))

[0, 1, 2, 3, 4]

In [45]:
import sys 

x = range(10000)
sys.getsizeof(x)

48

In [46]:
x = list(range(10000))
sys.getsizeof(x)

90112

### 8) import 기본 라이브러리

* Python에서는 기 개발된 함수를 사용하기 위해서는 관련 라이브러리를 import 하여 사용한다.
* 예를 들어, 제곱근을 계산하는 `sqrt` 함수를 사용하기 위해서는 수학연산 기본라이브러리인 `math`를 import해야 한다.

In [47]:
import math 
math.sqrt(49)

7.0

* `help`함수를 사용해 import한 라이브러링의 문서를 볼 수 있다.

In [48]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module is always available.  It provides access to the
    mathematical functions defined by the C standard.

FUNCTIONS
    acos(...)
        acos(x)

        Return the arc cosine (measured in radians) of x.

    acosh(...)
        acosh(x)

        Return the inverse hyperbolic cosine of x.

    asin(...)
        asin(x)

        Return the arc sine (measured in radians) of x.

    asinh(...)
        asinh(x)

        Return the inverse hyperbolic sine of x.

    atan(...)
        atan(x)

        Return the arc tangent (measured in radians) of x.

    atan2(...)
        atan2(y, x)

        Return the arc tangent (measured in radians) of y/x.
        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(...)
        atanh(x)

        Return the inverse hyperbolic tangent of x.

    ceil(...)
        ceil(x)

        Return the ceiling of x as an Integral.
        This is the smallest integer >= x.

    copysign(...)
        copysign(x, y)

        Return a float with the magnitude (absolute value) of x but the sign
        of y. On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(...)
        cos(x)

        Return the cosine of x (measured in radians).

    cosh(...)
        cosh(x)

        Return the hyperbolic cosine of x.

    degrees(...)
        degrees(x)

        Convert angle x from radians to degrees.

    erf(...)
        erf(x)

        Error function at x.

    erfc(...)
        erfc(x)

        Complementary error function at x.

    exp(...)
        exp(x)

        Return e raised to the power of x.

    expm1(...)
        expm1(x)

        Return exp(x)-1.
        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(...)
        fabs(x)

        Return the absolute value of the float x.

    factorial(...)
        factorial(x) -> Integral

        Find x!. Raise a ValueError if x is negative or non-integral.

    floor(...)
        floor(x)

        Return the floor of x as an Integral.
        This is the largest integer <= x.

    fmod(...)
        fmod(x, y)

        Return fmod(x, y), according to platform C.  x % y may differ.

    frexp(...)
        frexp(x)

        Return the mantissa and exponent of x, as pair (m, e).
        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(...)
        fsum(iterable)

        Return an accurate floating point sum of values in the iterable.
        Assumes IEEE-754 floating point arithmetic.

    gamma(...)
        gamma(x)

        Gamma function at x.

    gcd(...)
        gcd(x, y) -> int
        greatest common divisor of x and y

    hypot(...)
        hypot(x, y)

        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(...)
        isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0) -> bool

        Determine whether two floating point numbers are close in value.

           rel_tol
               maximum difference for being considered "close", relative to the
               magnitude of the input values
            abs_tol
               maximum difference for being considered "close", regardless of the
               magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(...)
        isfinite(x) -> bool

        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(...)
        isinf(x) -> bool

        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(...)
        isnan(x) -> bool

        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(...)
        ldexp(x, i)

        Return x * (2**i).

    lgamma(...)
        lgamma(x)

        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x[, base])

        Return the logarithm of x to the given base.
        If the base not specified, returns the natural logarithm (base e) of x.

    log10(...)
        log10(x)

        Return the base 10 logarithm of x.

    log1p(...)
        log1p(x)

        Return the natural logarithm of 1+x (base e).
        The result is computed in a way which is accurate for x near zero.

    log2(...)
        log2(x)

        Return the base 2 logarithm of x.

    modf(...)
        modf(x)

        Return the fractional and integer parts of x.  Both results carry the sign
        of x and are floats.

    pow(...)
        pow(x, y)

        Return x**y (x to the power of y).

    radians(...)
        radians(x)

        Convert angle x from degrees to radians.

    sin(...)
        sin(x)

        Return the sine of x (measured in radians).

    sinh(...)
        sinh(x)

        Return the hyperbolic sine of x.

    sqrt(...)
        sqrt(x)

        Return the square root of x.

    tan(...)
        tan(x)

        Return the tangent of x (measured in radians).

    tanh(...)
        tanh(x)

        Return the hyperbolic tangent of x.

    trunc(...)
        trunc(x:Real) -> Integral

        Truncates x to the nearest Integral toward 0. Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

* 런타임에서 한번 import한 라이브러리는 다른 셀에서 다시 import하지 않아도 라이브러리 함수를 사용할 수 있다.

In [49]:
math.pi

3.141592653589793

In [50]:
math.pow(7,2)

49.0

* 특정 메소드만 import할 수도 있다.

In [53]:
from math import pow
pow(9,2)

81.0

* 라이브러리나 메소드에 별칭을 붙여서 사용할 수 있다.

In [54]:
from math import factorial as fact

fact(5)

120

In [56]:
f = 1
for i in range(2,6) :
    f *= i 
print(f)

120

## 1.2 객체 (Object)와 변수(variable)

* 메모리에 저장된 자료는 객체(object)이다. Python에서는 모든 것이 객체이다.
* 변수는 **자체적으로 저장공간을 할당받지 않으며, 객체를 참조하기만 한다.**
* 변수는 `=`연산자르르 이용해서 객체를 가리킬 수 있으며, 이때 변수가 정의된다.

In [57]:
# variable num is defined by 1
num = 1

In [58]:
print(num)

1

In [59]:
id(num)

10914496

* 1은 int형 객체이며, 변수 num 은 객체 1을 가리킨다.
* `print`함수로 변수가 가리키는 객체를 출력한다.
* 만약 변수가 아무 객체도 가리키고 있지 않으면 오류를 발생시킨다.

In [61]:
print(c)

NameError: ignored

In [71]:
num = 1
print(id(num))

# 깊은 복사
import copy
new = copy.deepcopy(num)
print(id(new))

new = 2
print('new 객체의 주소 : ', id(new))

print('num 객체의 주소 : ', id(num))

10914496
10914496
new 객체의 주소 :  10914528
num 객체의 주소 :  10914496

In [70]:
num = 1
print(id(num))

# 얕은 복사
new = num
print(id(new))

new = 2
print('new 객체의 주소 : ', id(new))

print('num 객체의 주소 : ', id(num))

10914496
10914496
new 객체의 주소 :  10914528
num 객체의 주소 :  10914496

In [74]:
num = [1,2,3,4]
print(id(num))

# 얕은 복사
new = num
print(id(new))

new[0] = 8 # 기존의 num에 연결된 객체에 접근해서 원소를 바꿈
print(new)
print('new 객체의 주소 : ', id(new))

print(num)
print('num 객체의 주소 : ', id(num))

140205193453256
140205193453256
[8, 2, 3, 4]
new 객체의 주소 :  140205193453256
[8, 2, 3, 4]
num 객체의 주소 :  140205193453256

In [76]:
num = [1,2,3,4]
print(id(num))

# 깊은 복사
new = copy.deepcopy(num)
print(id(new)) # 새로운 객체와 그에 대한 새로운 주소가 할당된다. 

new[0] = 8 # 새로운 객체의 원소를 바꿈
print(new)
print('new 객체의 주소 : ', id(new))

print(num) # 기존의 num은 그대로이다. 
print('num 객체의 주소 : ', id(num))

140205025246792
140205041207368
[8, 2, 3, 4]
new 객체의 주소 :  140205041207368
[1, 2, 3, 4]
num 객체의 주소 :  140205025246792

* 키워드 `del`을 사용해 변수가 가리키는 객체를 삭제할 수 있다.

In [79]:
a=8

In [80]:
del a
print(a)

NameError: ignored

* 객체는 고유의 id를 가지며, 함수 `id`를 사용해 확인할 수 있다. 
* CPython에서는 객체가 저장된 실제 메모리 주소를 id로 사용한다.

In [81]:
help(id) # 한 주소에는 한 객체만 있는 것이다.

Help on built-in function id in module builtins:

id(obj, /)
    Return the identity of an object.

    This is guaranteed to be unique among simultaneously existing objects.
    (CPython uses the object's memory address.)

In [83]:
num = 1
print(id(num))
print(id(1))

10914496
10914496

### 2) Immutable 객체 
* 값을 초기화한 후에는 변경할 수가 없다. 
* immutable 객체를 가리키는 변수의 값을 변경하는 경우에는, 변수는 해당 값을 가진 다른 객체를 가리키게 된다.

* tuple, 숫자(int, float) boolean, 문자열(string, unicode)만 **imutable**객체이다.
* list, dict, set : mutable
* tuple, list : 순서보장, 중복허용
* set, dict : 순서보장 안함, 중복허용 안함

In [3]:
name = 'Kim, Bogyeong'
birth = 1994
age = 2020 - birth
graduated = True
info = (name, birth, age, graduated) # 튜플

print(info)
print(info[2])

('Kim, Bogyeong', 1994, 26, True)
26

In [4]:
def print_info () :
    print(f'name의 ID = {id(name)}')
    print(f'birth의 ID = {id(birth)}')
    print(f'age의 ID = {id(age)}')
    print(f'graduated ID = {id(graduated)}')

print_info()

name의 ID = 139833695954160
birth의 ID = 139833696132656
age의 ID = 10915296
graduated ID = 10302848

In [5]:
# 1년 후에
name = "Bogyeong Kim"
age = 2021 - birth
graduated = False
info[2] = age # 튜플은 변경이 불가능 하다!!!

TypeError: ignored

In [7]:
# 1년 후에
name = "Bogyeong Kim"
age = 2021 - birth
graduated = False

print(name, birth, age, graduated)
print(info) # 그대로

Bogyeong Kim 1994 27 False
('Kim, Bogyeong', 1994, 26, True)

In [8]:
print_info()

name의 ID = 139833687215152
birth의 ID = 139833696132656
age의 ID = 10915328
graduated ID = 10300256

#### 완전 중요!!
* literal 객체는 같은 걸 두 번 메모리에 만들지 않는다. (?)
* 참조형 객체는 같은 걸 두 번 메모리에 만들 수 있다.

In [9]:
age = 26
print(id(age)) # 처음과 주소가 같아졌다. 참조하는 객체가 달라졌다가 다시 같아졌다. 
# literal 객체는 같은 걸 두 번 메모리에 만들지 않는다. (?)

10915296

* `is` 는 두 객체의 id가 같은 경우 `True`를 리턴하며, `==`는 두 객체의 값이 같은 경우 `True`를 리턴한다.

In [10]:
age1 = 26
age2 = 27
age1 is age2

False

* Python은 변수의 데이터 타입을 사전에 지정하지 않는다. 동적 자료형의 언어이다.

In [11]:
def add(a,b) :
    return a + b

print(add(1,3))

4

In [15]:
print(add(1.2, 3.4))
print(add('Hello ', 'World!'))

4.6
Hello World!

In [17]:
print(add((1, 'South'), ('Korea', 2)))

(1, 'South', 'Korea', 2)

### 3) Mutable 객체
* **mutable 객체**는 `list`, `set`, `dict`인 객체이며, 값이 초기화된 이후에도 변경 가능하다. 
* mutable 객체의 요소 값을 변경하는 경우에는, 변수는 그대로 같은 객체 주소를 가리키게 된다. 
* 똑같은 객체를 각각 다른 변수에 연결시키는 방식으로 두번 만들면, 두 객체의 주소는 다르다.

In [19]:
x = [1,2,3,4,5]
y = [1,2,3,4,5]

print(id(x))
print(id(y))
print(x is y)

print(x is [1,2,3,4,5])

139833696104776
139833696108424
False
False

In [20]:
# immutable이지만, 참조형 객체인 튜플
x = (1,2,3,4,5)
y = (1,2,3,4,5)

print(id(x))
print(id(y))
print(x is y)

139833696039952
139833712073192
False

* Call-by-Value vs Call-by-Reference

: 함수를 호출할 때도 보면, literal 객체는 값 자체에 접근하는 것이고 참조형 객체는 주소에 접근하는 것이다.

In [22]:
literal = 2
print(f'literal before call_by_Value() is {literal}')

def call_by_Value (x) : 
    x+= 2
    print(x)

call_by_Value(literal)
print(f'literal after call_by_Value() is {literal}')

literal before call_by_Value() is 2
4
literal after call_by_Value() is 2

In [23]:
list1 = [1,2,3,4]
print(f'list1 before call_by_Value() is {list1}')

def call_by_Value (x) : 
    x[0] += 6
    print(x)

call_by_Value(list1)
print(f'literal after call_by_Value() is {list1}')

list1 before call_by_Value() is [1, 2, 3, 4]
[7, 2, 3, 4]
literal after call_by_Value() is [7, 2, 3, 4]

## 1.3 기본 자료형(Data Types)

### 1) 숫자 자료형 (Numeric Types)
* 정수형 `int`
* 실수형 `float`
* 복소수 `complex`
* 사칙연산 (`+`, `-`, `*`, `/`), 몫(`//`), 나머지(`%`), 지수 승(`**`)

### 2) Boolean Type(참 혹은 거짓)
* 참은 `True`, 거짓은 `False`
* 비교 연산자의 결과는 Boolean Type
> * `<`, `<=`, `>`, `>=`, `==`, `!=`
> * `is`, `is not`
* 논리 연산자
> * `and`, `or`, `not`

In [24]:
print(1<2)

True

In [25]:
a = [1,2,3,4]
b = [1,2,3,4]
print(a == b)
print(a is b)

True
False

In [28]:
import numpy as np

np.array([[1,2], [3,4]]) @ np.array([[1,2], [3,4]]) # 행렬 곱 : @

array([[ 7, 10],
       [15, 22]])

### 3) 문자열 (String Type)
* 문자열은 `'` 혹은 `"`로 감싸면 모두 문자열이 된다.

In [31]:
print("Hello, \"Python\"!") # 탈출 기호

Hello, "Python"!

In [36]:
lyrics = """
문자열이 매우 길 경우에는 다른 줄로 넘어갈 수가 있는데, 
이럴 경우에는 어떻게 하면 좋을까?
"""
print(lyrics)

문자열이 매우 길 경우에는 다른 줄로 넘어갈 수가 있는데,
이럴 경우에는 어떻게 하면 좋을까?

### 4) 문자열 형식 지정자 
* `#` 연산자 (Python3 이전의 방식)

In [38]:
name = 'Bob'
age = 53
test = 'Hello, #s!' # name

print(test)
print('Is your age #i, isn\'t it?' # age)

Hello, #s!

* `str.format` (python3 이후)
    문자열 내에 `{}`을 넣어서 슬롯을 만들고 `format` 함수를 이용해서 슬롯에 필요한 데이터를 넘긴다.

In [42]:
print("{}, {}, {}, {}". format(1,2,3,4))
print("{}, {}, {}, {}". format('a','b','c','d'))
print("{3}, {2}, {1}, {0}". format('a','b','c','d')) # 순서 지정 가능

1, 2, 3, 4
a, b, c, d
d, c, b, a

In [46]:
x = 32.24111
y = -115.1212121

print('좌표값은 ({0},{1})입니다.'.format(x, y))
print('좌표값은 ({lat},{lng})입니다.'.format(lat = x, lng = y))
print('좌표값은 ({lat:10.3f}, {lng:10.2f})입니다.'.format(lat = x, lng = y))
# 전체가 10자리인데, 소숫점은 3번째 자리까지 표현해라.

좌표값은 (32.24111,-115.1212121)입니다.
좌표값은 (32.24111,-115.1212121)입니다.
좌표값은 (    32.241,    -115.12)입니다.

* `f'string{}string'` (python 3.6 이상의 버전) -> 바로 변수를 가져다 쓸 수 있다.

In [47]:
print(f'Hello, {name}')

Hello, Bob

## 1.4 기본 자료구조(Data Structure)

### 1) List 자료구조
* 여러 값을 순서에 따라 저장하는 자료구조

In [55]:
a = [1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

In [56]:
print(a[0])
print(a[-1])

1
5

In [57]:
a[1:3]

[2, 3]

In [58]:
b = [1, "a", [1,2,3], (3,4,4)]
len(b)
print(b)

[1, 'a', [1, 2, 3], (3, 4, 4)]

In [59]:
b.append(7)
b

[1, 'a', [1, 2, 3], (3, 4, 4), 7]

In [60]:
b.insert(1, 9) # 인덱스 1번 위치에 9라는 요소를 추가 
b

[1, 9, 'a', [1, 2, 3], (3, 4, 4), 7]

In [61]:
b.pop()

7

In [62]:
b

[1, 9, 'a', [1, 2, 3], (3, 4, 4)]

In [64]:
b.remove(9) # 리스트 안에 9라는 요소를 제거
b

[1, 'a', [1, 2, 3], (3, 4, 4)]

In [65]:
b[2] = "c"

In [66]:
b

[1, 'a', 'c', (3, 4, 4)]

### 2) Tuple 자료구조
* 리스트와 유사, 값을 변경할 수 없는 자료구조

In [67]:
b = (1,2,3,4)
b[1]

2

In [68]:
b[2] = 5

TypeError: ignored

### 3) Set 자료구조 
* 중복을 허용하지 않는 데이터 집합
* 순서는 보장하지 않는다. 
* mutable 하다.

In [69]:
set1 = {1,2,3,4}
set2 = {3,4,5,6}

print(set1 & set2) # 교집합
print(set1 | set2) # 합집합
print(set1 - set2) # 차집합
print(set1 ^ set2) # 여집합

{3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2}
{1, 2, 5, 6}

### 4) Dictionary 자료구조
* key - value 쌍으로 구성된 집합

In [2]:
dict1 = {'blue' : 10, 'yellow' : 20, 'red' : 7}
dict1['blue']

10

In [3]:
dict['whilte']

TypeError: ignored

In [4]:
dict1['blue'] = 3 # value 변경
dict1

{'blue': 3, 'red': 7, 'yellow': 20}

In [7]:
dict1['white'] = 100 # value 추가

dict1

{'blue': 3, 'red': 7, 'white': 100, 'yellow': 20}

In [8]:
del dict1['white'] # key - value 쌍 삭제
dict1

{'blue': 3, 'red': 7, 'yellow': 20}